.marshmallow {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #5ebdff;
}

.marshmallow > .index {
    position: fixed;
    left: 20px;
    top: 10px;
}

.marshmallow > .index::before {
    content: "#";
}

.control {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    z-index: 99;
}

.control > .left, .control > .right {
    flex-grow: 1;
    height: 100vh;
}

.inner {
    width: calc(100vw - 100px);
    height: calc(100vh - 80px);
    margin: 40px 50px;
    border-radius: 25px;
    background: #96d3ff;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.inner > .content {
    color: #003c56;
    font-size: x-large;
}

